<div class="container">
   <h2>Our latest collection</h2>
   <mat-form-field class="example-form-field">
       <input matInput (keyup)="applyFilter($event)" placeholder="Search">
   </mat-form-field>
   <!-- <mat-form-field class="example-form-field">
      <mat-label>Sort</mat-label>
      <mat-select-trigger></mat-select-trigger> 
   </mat-form-field> -->
   <div fxLayout="row wrap" fxLayoutGap="50px grid">
      <div *ngFor="let product of filteredProduct">
         <mat-card class="product-card">
            <img mat-card-image src="assets/images/{{product.image_url}}">
            <mat-card-content>
               <mat-card-title>{{product.name}}</mat-card-title>
               <mat-card-subtitle>{{product.price | currency: "USD"}}</mat-card-subtitle>
            </mat-card-content>
         </mat-card>
      </div>
   </div>
</div>